* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;

}

.btn-primary {
    background: #FF5959;
    border-radius: 5px;
    padding: 15px;
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 30px;
    border: 0px;
}

.banner {
    height: 90vh;
    width: 100%;
    background-image: url("../images/donation7.jpg"), linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%);
    background-blend-mode: overlay;
    color: white;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;

}

.banner-info {
    text-align: center;
    margin: 0px 25%;
}

.banner-title {
    font-weight: 700;
    font-size: 65px;
    text-align: center;
    margin-bottom: 20px;
}

.banner h1 {
    color: #FFFFFF;
}

.description {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    color: #707070;
}

.banner-description {
    text-align: center;
    color: #FFFFFF;

}

.today-donate {
    padding: 130px 338px;
}

.today-donate p {
    text-align: center;
    margin-bottom: 50px;
}

.boxs {
    display: flex;
    gap: 22px;
    height: 123px;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #707070;
    margin-bottom: 60px;
}

.box {
    padding: 44px 15px;
    background: #FAFAFA;
    border-radius: 5px;
}

.select-box {
    padding: 44px 15px;
    background: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
    color: #FF5959;
}

.amount-form {
    margin: 0 45px;
    text-align: center;
}

.amount-form p {
    margin-bottom: 5px;
}

.plan-info {
    margin-bottom: 50px;
}

.plan-boxs {
    display: flex;
    gap: 24px;
    margin: 0px 157px;
    height: 352px;
}

.plan-box {
    padding: 63px 22px 54px;
    background: rgba(255, 89, 89, 0.1);
    border-radius: 5px;
}

.plan-box1 {
    padding: 63px 22px 54px;
    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
}

.plan-box h3,
.plan-box1 h3 {
    margin: 31px 0px 18px;
}

.they-lives {
    margin: 130px 252px 20px 156px;
}

.live {
    display: flex;
    gap: 82px;
    height: 500px;
    align-items: center;
    margin-bottom: 100px;
}

.live h1 {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 20px;
}

.live img {
    border-radius: 5px;
}

.update-info {
    text-align: center;
}

.update-box {
    height: 200px;
    background: #FFF4D6;
    margin: 50px 316px 130px;
    display: flex;
    align-items: center;
}

.update-box form {
    margin: 0px 20%;
}

.update-box form button {
    background: #FF5959;
    border-radius: 0px 5px 5px 0px;
    padding: 15px;
    font-size: 20px;
    color: #FFFFFF;
    border: 0px;
}

.update-box form input {
    background: #D9D9D9;
    width: 350px;
    padding: 15px;
    font-size: 20px;
    border-radius: 5px 0px 0px 5px;
}

.footer {
    height: 150px;
    background: #0B0D17;
    text-align: center;
  
}

.footer h2 {
    margin-top: 50px;
    font-size: 36px;
    color: #FF5959;
}

.footer p {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
   
    font-size: 14px;
    color: #D9DBE1;
}